body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom, seagreen, lightseagreen);
    }  
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 5px 9px 10px black;
}

.header {
    background: linear-gradient(45deg, #007bff, #00ffaa);
    color: #000000;
    padding: 50px 20px;
    text-align: center ;
    position: relative;
    overflow: hidden;
}

.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
    z-index: -1;
}

.header-content {
    position: relative;
    z-index: 1;
}

.header h3 {
    font-size: 32px;
    margin-bottom: 10px;
}
l
.summary {
    font-size: 18px;
    margin-bottom: 20px;
}

.social-links {
    text-align: center;
}

.social-links a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 50%;
    font-size: 20px;
    line-height: 40px;
    align-self: self-start;
    margin: 0 5px;
    text-decoration: none;
    transition: background-color 0.3s ease; 
}
.social-links a:hover {
    background-color: #040b12;
}
.resume-content {
    padding-top: 50px; /* Adjust padding to prevent content overlap with header */
}
.side{
    text-align: center;
    margin-bottom: 50px;
}
